<div class="page_header">
  <h1><%= @expense.date.strftime("%A, %B %d") %> </h1>
</div>



  <ul>
    <li><%= @expense.expense_type %></li>
    <li><%= number_with_precision(@expense.cost, :precision => 2) %></li>
  </ul>

