<div class="page_header">
  <h1><%= @shift.date.strftime("%A, %B %d") %> </h1>
</div>

<%= react_component('AdjustIncome', {startMileage: @shift.start_mileage, endMileage: @shift.end_mileage, earnings: number_with_precision(@shift.earnings, :precision => 2)}, {prerender: true}) %>


<%=link_to "Edit Shift Details", edit_user_shift_path(@shift.user_id, @shift.id), method: :get %></p>


<!--<h3><a id="new-expense" href="/expense/new" data-turbolinks="false">Create a new expense here</a></h3>-->
