<div class="margin_header">
  <h1>Create git sUser!</h1>
</div>
<div>
	<div>

    <div class="container center_div" id="signUp">
      <%= render 'form' %>
      <br>
      <p>Already have an account?</p>
      <%= link_to 'Login', login_path, method: :get, id: 'loginLink', class: 'login' %>
    </div>


	</div>
</div>