<div>

  <h1 id="show_page_header">Hey there, <%= @user.first_name %></h1>
  <p>Looking to start a new shift?</p>

  <%= month_calendar(attribute: :date) do |date| %>
      <%= date %>
  <% end %>

</div>