<div class="container center_div" align ='center'>
<header >
        <h1>Welcome to TaxAlong!</h1>
        <hr>
        <h3>An app for keeping track of your income!</h3>
</header>

	<div>
		<%= link_to "Sign up", new_user_path, method: :get, class: "btn btn-primary" %>
		<%= link_to "Sign in", login_path, method: :get, class: "btn btn-primary"%>
	</div>
</div>

