.simple-calendar {

  margin-left: 2em;
  margin-top: 6em;
  margin-right: 3.5em;

  .day {
    //background-color: #00a693;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .past {
    //background-color: darkslategray;
  }
  .future {
    //background-color: lightgray;
  }

  .start-date {}

  .current-month {}

  .has-events {
    background-color: rgba(0,255,0,0.1)
  }

  .today {
    background-color: mediumspringgreen;
  }

  .prev-month {
    background-color: rgba(255,0,0,0.1);
  }
  .next-month {
    background-color: rgba(255,0,0,0.1);
  }

  .calendar-heading {
    //margin-left: 2em;
    //margin-top: 4em;
    margin-bottom: 1em;
  }

  .calendar-heading:first-child a{
    background-color: deepskyblue;
    color: white;
    border-radius: 25px;
    padding: 4px;
    //width: 20px;
    //height: 15px;

  }
  //
  //.table {
  //  width: 100%;
  //  max-width: 95%;
  //  margin-left: 2em;
  //  margin-top: 6em;
  //  margin-bottom: 1rem;
  //}

}