// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#show_page_header{
  position: relative;
  margin-top: 73px;
  margin-bottom: 2.5rem;
  /*  background-image: url(".jpg");*/
  /* background-color: darkred; */

};